header{
    background-image: url('../imagens/logo.jpeg');
    background-position-x: -3.5cm;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    font-family: 'Playfair Display', serif;
}

.header_barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    
    background-color: rgb(255, 255, 255,.1);
    
}

.header_logo{
    height: 140px;
    width: 140px;
    margin-left: 50px;
}

nav{
    margin-right: 50px;

    
}



nav ul li{
    line-height: 2rem;
}

.header_txt{
    position: absolute;
    top: 70%;
    left: 27%;
}

header p{
    font-size: 35px;
    color: aliceblue;
    letter-spacing: .3rem;
    
}

a{
    text-shadow: 2px 2px 2px black;
}



/*MEDIA 575*/
@media(min-width:575px){
    header{
        background-size: cover;
        background-position: center;
        height: 70vh;
        
    }
    
    nav ul {
        display: flex;
        margin: 0;
        
    }

    nav{
        margin: 0;
    }

    nav li {
        display: flex;
        padding-right: 40px;
    }
    nav li:last-child {
        
        padding-right: 180px;
    }
    
    

    header p{
        font-size: 75px;
        
    }

   
}

/*MEDIA 768*/

@media(min-width:768px){
   

    header li a{
        font-size: 25px;
        transition: text-shadow .3s ease-in-out, transform .7s ease-in-out ;
    }

    header li a:hover{
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        transform: scale(.97);
        
        
    }

    .header_txt{
        
        left: 50%;
    }


   
}

